{% extends 'main/base.html' %}

{% block css_styles %}
    <link href="{{ url_for('static', filename='css/profile/profile.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <section id="base-info">
        <div class="row">
            <div class="col-auto">
                <img class="profile-image" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="profile image">
            </div>
            <div class="col">
                <h2>{{ user.username }}</h2>
                <p>{{ user.phone }}</p>
                <p>
                    {{ user.email }}
                    {% if user.email_activated %}
                        <span class="text-success">(verified <i class="fas fa-check"></i>)</span>
                    {% else %}
                        <span class="text-muted">(not verified) <a class="text-info" href="{{ url_for('auth.verify_email_request') }}">verify?</a></span>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="mt-3">
            <h2>Bio</h2>
            <p>{{ user.bio }}</p>
        </div>
    </section>
    <hr>
    <section id="address">
        <h2>Address</h2>
        <div class="row">
            <!-- <div class="col"></div> -->
            <div class="col">
                {{ user.address }}
            </div>
        </div>
    </section>
    <hr>
    <section id="payment">
        <div class="custom-row">
            <h2>Payment</h2>
            <div class="ml-1 col-1">
                <button class="create-button">
                    {% if not payment %}
                        <a href="{{ url_for('profile.new_profile_payment') }}" class="create-link"><i class="fas fa-plus"></i></a>
                    {% else %}
                        <a href="#" class="create-link"><i class="fas fa-plus"></i></a>
                    {% endif %}
                </button>
            </div>
        </div>
        {% if payment %}
            <div class="row">
                <div class="card mt-3 ml-3">
                    <div class="card-body">
                        <a class="card-number-link" href="{{ url_for('profile.edit_profile_payment') }}">{{ payment.card_number }}</a>
                        <i class="fab fa-cc-visa payment-icon"></i>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

    <section id="edit">
        <button class="edit-button">
            <a href="{{ url_for('profile.edit_profile_info') }}" class="edit-link">Edit</a>
        </button>
    </section>
{% endblock %}