#base-info {
    margin-top: 20px;
}

.product-image {
    width: 250px;
    height: 350px;
}

.thumbnail {
    height: 100%;
    width: 40px;
}

#edit {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.button {
    width: 100px;
    height: 50px;
    background-color: #042331;
    border-radius: 25px;
}

.link, .link:visited, .link:hover, .link:active {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
}