.profile-image {
    width: 200px;
    height: 100%;
}

.label {
    width: 8rem;
}

#confirm {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.button {
    width: 100px;
    height: 50px;
    background-color: #042331;
    border-radius: 25px;
}

.link, .link:visited, .link:hover, .link:active {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.payment-icon {
    font-size: 1.8rem;
    vertical-align: middle;
    margin-left: 1.3rem;
}

.card-number-link, .card-number-link:visited, .card-number-link:hover, .card-number-link:active {
    text-decoration: none;
    color: #000;
}

.payment-input {
    width: 60%;
    height: 25px;
}

.input-submit {
    background-color: #042331;
    border: 0;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}