{% extends 'main/base.html' %}

{% block css_styles %}
    <link href="{{ url_for('static', filename='css/orders/orders_details.css') }}" rel="stylesheet" />
{% endblock %}

{% block external_links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}

{% block content %}
    <div class="container">
        <section class="title">
            <h2>Order #{{ order.id }}</h2>
            <p>{{ order.createdAt.strftime('%H:%M:%S %d/%m/%Y') }}</p>
        </section>
        
        <hr>

        <section class="product-info">
            <h2>Products</h2>
            <div class="row justify-content-center align-items-center">
                <div class="col-12 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <p class="card-text">
                                    <img class="product-image ml-2 mr-4" src="{{ product.pictures[0] }}" alt="Product's image">
                                    <div class="">
                                        <p>Name: {{ product.name }}</p>
                                        <p>Price: {{ product.price }}</p>
                                        <p>Quantity: {{ product.quantity }}</p>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section class="address-info">
            <h2>Deliver to</h2>
            <p>{{ order.deliverTo }}</p>
        </section>

        <hr>

        <section class="progress-info">
            <h2>Progress</h2>
            <div class="card1 mt-4">
                <ul id="progressbar" class="text-center">
                    <li class="active step0"></li>
                    <li class="step0"></li>
                    <li class="step0"></li>
                    <li class="step0"></li>
                </ul>
                <h6 class="mb-5">Bagging the product</h6>
                <h6 class="mb-5">Tallie has taken the package</h6>
                <h6 class="mb-5">Tallie is delivering the package</h6>
                <h6 class="mb-5">The package has been delivered to you</h6>
            </div>
        </section>
    </div>
{% endblock %}