{% extends 'main/base.html' %}

{% block css_styles %}
    <link href="{{ url_for('static', filename='css/products/product_details.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <section id="base-info">
        <div class="row">
            <div class="col-auto">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for i in range(pictures|length) %}
                            {% if i == 0 %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" class="active"></li>
                            {% else %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for picture in pictures %}
                            {% if picture == pictures[0] %}
                                <div class="carousel-item active">
                                    <img class="d-block product-image" src="{{ [image_service_url, picture.img_id]|join('') }}" alt="Product picture">
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <img class="d-block product-image" src="{{ [image_service_url, picture.img_id]|join('') }}" alt="Product picture">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col">
                <h2>{{ product.name }}</h2>
                <h5>by: {{ product.author }}</h5>
                <p>Price: {{ "{:,}".format((product.price * 1000)|int) }}</p>
                <p>Quantity: {{ product.quantity }}</p>
            </div>
        </div>
    </section>
    <hr>
    <section id="description">
        <h2>Description</h2>
        <div class="row">
            <div class="col">
                {{ product.description }}
            </div>
        </div>
    </section>
    <hr>
    <section id="review">
        <h2>Review</h2>
        {% for review in reviews %}
            <div class="review-block mt-3 ml-3">
                <div class="row">
                    <img class="thumbnail" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="profile image">
                    <h4 class="col-1">{{ review[1].username }}</h4>
                </div>
                <div class="row">
                    {% for i in range(review[0].star) %}
                        <span><i class="fas fa-star"></i></span>
                    {% endfor %}
                    {% for i in range(5 - review[0].star) %}
                        <span><i class="far fa-star"></i></span>
                    {% endfor %}
                    <p class="ml-2"><strong>{{ review[0].overview }}</strong></p>
                </div>
                {% if review[0].started_reading and review[0].finished_reading.date() %}
                    <div class="row">
                        <p>Started at {{ review[0].started_reading.date() }} - Finished at {{ review[0].finished_reading.date() }}</p>
                    </div>
                {% endif %}
                <div class="row">
                    <p>{{ review[0].content }}</p>
                </div>
            </div>
        {% endfor %}
    </section>

    <section id="edit">
        <!-- Button trigger modal -->
        <button type="button" class="button" data-toggle="modal" data-target="#deleteModal">
            <div class="link">Delete</div>
        </button>
        <!-- <button class="button">
            <a href="{{ url_for('products.your_product_delete', id=product.id) }}" class="link">Delete</a>
        </button> -->
        <button class="button">
            <a href="{{ url_for('products.your_product_edit', id=product.id) }}" class="link">Edit</a>
        </button>
    </section>

    <section id="modal">
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you really want to delete: {{ product.name }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button" data-dismiss="modal">
                            <div class="link">Close</div>
                        </button>
                        <button type="button" class="button">
                            <a href="{{ url_for('products.your_product_delete', id=product.id) }}" class="link">Delete</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}