.product-picture {
    width: 200px;
    height: 200px;
}

#confirm {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.button {
    width: 100px;
    height: 50px;
    background-color: #042331;
    border-radius: 25px;
}

.link, .link:visited, .link:hover, .link:active {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.input-submit {
    background-color: #042331;
    border: 0;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.image-upload {
    width: 50px;
    height: 50px;
    background-color: #042331;
    border-radius: 25px;
    cursor: pointer;
}

.image-upload-symbol {
    color: #fff;
    font-size: 1.65em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

textarea {
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
    box-sizing: border-box;
}

.input-container {
    margin: 1rem;
}

.input-text {
    width: 25%;
    height: 25px;
}

.input-number {
    width: 8%;
    height: 25px;
}

.label {
    width: 8rem;
}

.picture-wrapper {
    position: relative;
    display: inline-block;
}

.picture-delete:before {
    content: '✕';
}

.picture-delete {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    color: #eee;
}

.picture-delete:hover {
    color: #222;
    background-color: #999;
}