.search-form {
    margin: 2rem 0;
}

.input-searchbar {
    width: 50%;
}

.pagination {
  margin-top: 20px;
}

.create-product {
  position: absolute;
  right: 20px;
  top: 20px;
}

.create-button {
  width: 50px;
  height: 50px;
  background-color: #042331;
  border-radius: 25px;
}

.create-link, .create-link:visited, .create-link:hover, .create-link:active {
  color: #fff;
  text-decoration: none;
  font-size: 1.65em;
}