<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tallie</title>
        <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper">
            <div class="title">
                Login Form
            </div>
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}
                    <div class="field">
                        {{ form.username(size=32) }}
                        {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </p>
                <br>
                <p>
                    {{ form.password.label }}
                    <div class="field">
                        {{ form.password(size=32) }}
                        {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </p>
                <div class="content">
                    <div class="checkbox">
                        {{ form.remember_me() }} {{ form.remember_me.label }}
                    </div>
                    <div class="pass-link">
                        <a href="#">Forgot password?</a>
                    </div>
                </div>
                <div class="field">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </body>
</html>
